

.game-table {
    display: flex;
    height: 100vh;
}

.side-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    /* border: 1px solid gray; */
}

.center-grid {
    display: flex;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    width: 60%;
}
.center-grid > .grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid gray;
}
